{% extends 'base1.html.twig' %}

{% block title %}Clients{% endblock %}
{% block body %}

    <!-- Orders -->

    <div class="card">
        <div class="card-body">
            <h4 class="box-title">Clients </h4>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Email</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                 <th>Payement</th> 
                <th>actions</th>
            </tr>
            </thead>
            <tbody>

            {% for client in clients %}
                <tr>
                    <td>{{ client.email }}</td>
                    <td>{{ client.nom }}</td>
                    <td>{{ client.prenom }}</td>
                    <td>{{ client.telephone }}</td>
                 
                    {% if client.paiement == 1 %}
                      <td>  <span class="btn btn-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Payé &nbsp;&nbsp;&nbsp;</span></td>
                        {% else %}
                        <td> <span class="btn btn-danger">Non Payé</span></td>
                    {% endif %}
                   

                    <td>
                        <a class="btn btn-secondary"
                           href="{{ path('app_client_show', {'id': client.id}) }}">show</a>
                        <a class="btn btn-success"
                           href="{{ path('app_client_edit', {'id': client.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
        {# <a class="badge badge-complete" href="{{ path('app_client_new') }}">Ajouter client</a> #}
        <!-- /.table-stats -->
    </div>


{% endblock %}
