{% extends 'base2.html.twig' %}
{% block title %}Dance{% endblock %}
{% block body %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>


        <div class="hero-content padding-xlarge">
            <div class="container">
                <div class="row">
                    <div class="content-light">
                        <h1 class="page-title text-uppercase">cour</h1>
                        <div class="breadcrumbs">
                            <span class="item">
                           


<div class="section">
    <div class="container">
        <div class="row">
            <!-- Product Image & Available Colors -->
            <div class="col-sm-6">
                <div class="product-image-large">
                    <img style="width:100%" src="{{ asset('/img/' ~ cour.image) }}">
                </div>
                <a class="btn btn-primary" href="{{ path('app_coach_detail',{'id': cour.id} ) }}">Coach Details</a>


            </div>
            <!-- End Product Image & Available Colors -->
            <!-- Product Summary & Options -->
            <div class="col-sm-6 product-details">

                <table class="shop-item-selections">
                    <!-- Color Selector -->
                    <tr>
                        <td><b>Cour:  {{cour.nom}}</b></td>

                    </tr>
                    <!-- Size Selector -->
                    <tr>
                        <td><b>Price : {{cour.prix}}</b></td>

                    </tr>
                    <!-- Quantity -->
                    <tr>
                        <td><b>Description: {{cour.description}}</b></td>

                    </tr>
                    <!-- Add to Cart Button -->
                    <tr>
                        <td>&nbsp;</td>
                        <td>
    {% for flashMessage in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ flashMessage }}
    </div>
{% endfor %}
                            <a class="btn btn-success" href="{{ path('app_payement',{'id': cour.id} ) }}">Payer</a>
                            <a class="btn btn-success" href="{{ path('book_cour',{'id': cour.id} ) }}">Book</a>


                            

                        </td>
                    </tr>
                </table>
            </div>
            <!-- End Product Summary & Options -->


            <!-- End Full Description & Specification -->
        </div>
    </div>
</div>

{% endblock %}
