{% extends 'base1.html.twig' %}

{% block title %}Coach index{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-body">
            <h4 class="box-title">Clients </h4>
        </div>

        <table class="table table-striped">
            <thead>        <thead>
        <tr>
            <th class="serial">Avatar</th>
            <th class="avatar">#</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Salaire</th>
            <th>Image</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>

        {% for coach in coaches %}
        <tr>
            <td> #{{ coach.id }}</td>
            <td><span class="name">{{ coach.nom }}</td>
            <td><span class="product">{{ coach.prenom }}</td>

            <td><span class="count">{{ coach.getDomaineId().description }}</td>


            <td><span class="count">{{ coach.salaire }}</td>
            <td>
                <img style="width:100px" src="{{ asset('/img/' ~ coach.image) }}" alt="Not found image">
            </td>

            <td>
                <a class="btn btn-primary"
                   href="{{ path('app_coach_show', {'id': coach.id}) }}">show</a>
                <a class="btn btn-success"
                   href="{{ path('app_coach_edit', {'id': coach.id}) }}">edit</a>
            </td>


            {% endfor %}
        </tr>
        </tbody>


    </table>
    <a class="btn btn-dark" style="padding-bottom:10px " href="{{ path('app_coach_new') }}">Create new</a>

    <!-- /.orders -->
{% endblock %}
